<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li class="sidebar-brand">
          <a href="#">
              vitht@nustechnology.com
          </a>
      </li>
      <li class="glyphicon glyphicon-envelope">
      </li>
      <li>
        <%= link_to "Inbox",inbox_mails_path %>
        <!--   <a href="#">Inbox </a> -->
      </li>
      <li>
        <%= link_to "Send Box",sendbox_mails_path %>
      </li>
      <li>
        <%= link_to "Drafts",draft_mails_path %>
      </li>
  </ul>
</div>
